.thumbnail{
    height: 50%
}

body{
    background-color: #ead9b6;
}

.site-title{
    font-family: "Libre Baskerville","Georgia","Times New Roman","serif";
    width: 100%;
    text-align: center;
    display: block;
    padding: 0 65px 0 0;
    width:100%;
    text-align:center;
}

.header-link{
    text-decoration: none;
    color: black;
}