@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: "Roboto";
}

main{
    margin: auto;
    display: block;
    margin-bottom: 70px;
    margin-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px; 
    padding-right: 70px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: #f4dfba;
    border: 4px double rgb(238, 162, 31);
    border-radius: 25px;
}

h1{
    text-align: center;
}

.part-image{
    max-width: 50%;
}

.thumbnail{
    height: 50%
}


body{
    max-width: 80em;
    margin: auto;
    background-color: #ca965c;
}

.site-title{
    width: 100%;
    color: black;
    text-align: center;
    display: block;
    padding: 0 65px 0 0;
    width:100%;
}

a{
    color: #567D89
}

nav{
    padding: 10 0 10 0;
}

nav a{
    text-decoration: none;
    color: black;
    padding: .5em;
}

nav a:hover{
    background-color: #567D89;
    transition: background-color 200ms ease-in-out;
    color: white;
    transition: color 100ms ease-in-out;
}

/* tables */

table {
    border-collapse:collapse;
    width: 100%;
    background-color: #f4dfba;
}

table th, .table td {
    padding: 0.4rem;
}

table th, td {
    text-align: left;
}

table td + td {
    border-left:1px solid rgb(238, 162, 31);
    border-right:1px solid rgb(238, 162, 31);
    padding: 10px;
}


table thead tr {
    border-bottom: 2px solid rgb(238, 162, 31);
}
table tbody tr {
    border-bottom: 1px solid rgb(238, 162, 31);
}

tr:nth-child(odd) {
  background-color: #ca965c;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #567D89;
    padding: 0.4em;
    border-radius: 8px;
    color: white;
    margin: 2px;
  }

  /* Grid */

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    line-height: 120%;
    font-size: 90%;
}

.brands-image{
    text-align: center;
}

.brands-image img{
    background-color: transparent;
    height: auto;
    max-height: 150px;
    max-width: 150px;
    padding: 2px;
    background: white;
    border: 1px solid black;
    box-shadow: -3px 3px 8px silver;
}

.nav{
    text-align: center;
}