main{
    margin: auto;
    width: 80em;
}

.thumbnail{
    height: 50%
}

body{
    font-family: "Libre Baskerville","Georgia","Times New Roman","serif";
    background-color: #ead9b6;
}

/* .site-title{
    font-family: "Libre Baskerville","Georgia","Times New Roman","serif";
    width: 100%;
    text-align: center;
    display: block;
    padding: 0 65px 0 0;
    width:100%;
} */

nav{
    padding: 10 0 10 0;
}

nav a{
    text-decoration: none;
    color: black;
    padding: .5em;
}

nav a:hover{
    background-color: red;
    color: white;
}