{% extends "layout.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>Name: {{ form.name }} <span style="color:red">{{ form.name.errors }}</span></p>
    <p>Brand: {{ form.brand }} <span style="color:red">{{ form.brand.errors }}</span></p>
    <p>Tags: {{ form.tags }} <span style="color:red">{{ form.tags.errors }}</span></p>
    <p>Size: {{ form.sizenum }} mm</p>
    <p>Type: {{ form.type }} <span style="color:red">{{ form.type.errors }}</span></p>
    <p>Image: {{ form.image }} <span style="color:red">{{ form.image.errors }}</span></p>
    <input type="submit" value="Add this part">
  </form> 
{% endblock %}