{% extends "layout.html" %}
{% block content %}

<form id="brand-form" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>Select Brand: {{ form.brand }} <span style="color:red">{{ form.brand.errors }}</span></p>
    <input type="submit" value="Submit">
</form>

<form id="hidden-form" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <input type="hidden" name="brand" id="selected-brand">
</form>

<h2>Or select from one of NZ's major brands:</h2>
<div class="brands-grid">
  {% for brand in brands %}
    {% if brand.logo %}
    <div class="brands-image" onclick="selectBrand('{{ brand.id }}')">
      <img src="\static\images\logos\{{ brand.alias }}.jpg" alt="{{ brand.name }}">
    </div>
    {% endif %}
  {% endfor %}
</div>

<table>
  <thead>
    <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Size</th>
    <th>Brand</th>
    <th>Type</th>
    <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for part in results %}
    <tr>
      <td><a href="/part/{{part.id}}"><img class="thumbnail" src="/thumbnail/{{part.id}}"/></a></td>
      <td><a href="/part/{{part.id}}">{{part.name}}</a></td>
      <td>
        {% if part.width %}
          Width - {{part.width}} mm<br>
            {% if part.height %}
              Height -  {{part.height}} mm
            {% endif %}
        {% else %}
          Not Specified
        {% endif %}</p></td>
      <td>{{part.brands}}</td>
      <td>{{part.type}}</td>
      <td class = tag-box>
          {% for t in part.tags %}
              <a class="tag">{{t}}</a>
          {% endfor %}
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

<script>
  function selectBrand(brandAlias) {
    document.getElementById('selected-brand').value = brandAlias;
    document.getElementById('hidden-form').submit();
  }
</script>

{% endblock %}