{% extends "layout.html" %}
{% block content %}

<form id="brand-form" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>Select Brand: {{ form.brand }} <span style="color:red">{{ form.brand.errors }}</span></p>
    <input type="hidden" name="brand" id="selected-brand">
    <input type="submit" value="Submit">
</form>

<h2>Or select from one of NZ's major brands:</h2>
<div class="brands-grid">
  {% for brand in brands %}
    {% if brand.logo %}
    <div class="brands-image" onclick="selectBrand('{{ brand.id }}')">
      <img src="\static\images\logos\{{ brand.alias }}.jpg" alt="{{ brand.name }}">
    </div>
    {% endif %}
  {% endfor %}
</div>

<table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Size</th>
        <th>Brand</th>
        <th>Type</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for part in results %}
      <tr>
        <td><a href="/part/{{ part.id }}"><img class="thumbnail" src="/thumbnail/{{ part.id }}" alt="{{ part.name }}"/></a></td>
        <td><a href="/part/{{ part.id }}">{{ part.name }}</a></td>
        <td>{{ part.size }}</td>
        <td>{{ part.brands }}</td>
        <td>{{ part.type }}</td>
        <td>
            {% for t in part.tags %}
                <a class="tag">{{ t }}</a>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
  function selectBrand(brandAlias) {
    document.getElementById('selected-brand').value = brandAlias;
    document.getElementById('brand-form').submit();
  }
</script>

{% endblock %}