<hr>
<div class="nav">
<a href = "/" class='header-link'>HOME</a> - <a href = "/manufacturers" class='header-link'>MANUFACTURERS</a> - 
<a href = "/brands" class='header-link'>BRANDS</a> - <a href = "/all_parts" class='header-link'>ALL PARTS</a> - 
<a href="/search" class='header-link'>SEARCH</a> - 

{% if current_user.is_authenticated %}
<a href="/add_part" class='header-link'>ADD PART</a> - 
<a href="/logout" class='header-link'>LOG OUT</a>
{% else %}
<a href="/login" class='header-link'>LOG IN</a> - 
{% endif %}
</div>
<br>