{% extends "layout.html" %}
{% block content %}
  <a>{{part.name}}</a> - {% if part.width %}
  Width - {{part.width}} mm
    {% if part.height %}
      - Height -  {{part.height}} mm
    {% endif %}
{% else %}
  Not Specified
{% endif %}
- Known Brands: {{part.brands | join(", ")}} - {{part.type}}<br>

  {% for i in part.images %}
  <img src="/static/images/{{i.name}}" class="part-image"><br>
  {% endfor %}

  {{part.tags | join(", ")}}<br>

{% if current_user.is_authenticated %}
  <a href = "/edit/{{part.id}}">Edit</a><br>
  <a href = "/delete/{{part.id}}">Delete</a>
{% endif %}
{% endblock %}