{% extends 'layout.html' %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.search }}<br>
  {{ form.partbrand }}<br>{{ form.errors }}
  <input type="submit" value="Search">
</form>    

{% for part in results %}
  <a href = "/part/{{part.id}}">{{part.name}}</a> - {{part.size}} - Known Brands: {{part.brands}} -  {{part.type}} - {{part.tags}}<br>
  {% if part.image %}
    <img class="thumbnail" src="/static/images/{{part.image}}"/> <br>
  {% endif %}
{% endfor %}
{% endblock %}