{% extends 'layout.html' %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.search.label }} <br>
  {{ form.search }} 
  {% if form_submitted and form.search.errors %}
    <div class="error">{{ form.search.errors[0] }}</div>
  {% endif %}<br>
  
  {{ form.partbrand.label }}<br>
  {{ form.partbrand }} 
  {% if form_submitted and form.partbrand.errors %}
    <div class="error">{{ form.partbrand.errors[0] }}</div>
  {% endif %} <br>
  
  {{ form.tag.label }} <br>
  {{ form.tag }} 
  {% if form_submitted and form.tag.errors %}
    <div class="error">{{ form.tag.errors[0] }}</div>
  {% endif %}<br>

  {{ form.width.label }} <br>
  {{ form.width }} 
  {% if form_submitted and form.width.errors %}
    <div class="error">{{ form.width.errors[0] }}</div>
  {% endif %}<br>

  {{ form.height.label }} <br>
  {{ form.height }} 
  {% if form_submitted and form.height.errors %}
    <div class="error">{{ form.height.errors[0] }}</div>
  {% endif %}<br>

  {{ form.type.label }} <br>
  {{ form.type }} 
  {% if form_submitted and form.type.errors %}
    <div class="error">{{ form.type.errors[0] }}</div>
  {% endif %}<br>
  
  <input type="submit" value="Search">
</form>


{% if results %}
  <table>
    <thead>
      <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Size</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for part in results %}
      <tr>
        <td><a href="/part/{{part.id}}"><img class="thumbnail" src="/thumbnail/{{part.id}}"/></a></td>
        <td><a href="/part/{{part.id}}">{{part.name}}</a></td>
        <td>
          {% if part.width %}
            Width - {{part.width}} mm<br>
              {% if part.height %}
                Height -  {{part.height}} mm
              {% endif %}
          {% else %}
            Not Specified
          {% endif %}</p></td>
        <td>{{part.brands | join(", ")}}</td>
        <td>{{part.type}}</td>
        <td class = tag-box>
            {% for t in part.tags %}
                <a class="tag" href="/search?tag={{ t.id }}">{{t}}</a>
            {% endfor %}
        </td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
{% endif %}

{% endblock %}