{% extends 'layout.html' %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.search.label}} <br>
  {{ form.search }}<br>
  {{ form.partbrand.label }}<br>
  {{ form.partbrand }}<br>{{ form.errors }}
  <input type="submit" value="Search">
</form>    

<table>
  <thead>
    <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Size</th>
    <th>Brand</th>
    <th>Type</th>
    <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for part in results %}
    <tr>
      <td><a href="/part/{{part.id}}"><img class="thumbnail" src="/thumbnail/{{part.id}}"/></a></td>
      <td><a href="/part/{{part.id}}">{{part.name}}</a></td>
      <td>
        {% if part.width %}
          Width - {{part.width}} mm<br>
            {% if part.height %}
              Height -  {{part.height}} mm
            {% endif %}
        {% else %}
          Not Specified
        {% endif %}</p></td>
      <td>{{part.brands}}</td>
      <td>{{part.type}}</td>
      <td class = tag-box>
          {% for t in part.tags %}
              <a class="tag">{{t}}</a>
          {% endfor %}
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}